<template>
  <div>
    <img src="./assets/logo.png" alt="Vue logo">
    <!-- Static value -->
    <greeting-message first-name="Mark" last-name="Zuckerberg"/>
    <greeting-message first-name="Elon" last-name="Musk"/>
    <greeting-message first-name="Bill" last-name="Gate"/>
    <hr>
    <!-- Dynamic value -->
    <greeting-message v-bind:first-name="fname" v-bind:last-name="lname"/>
    <greeting-message v-bind:full-name="fullName"/>
  </div>
</template>

<script>
import GreetingMessage from './components/GreetingMessage.vue';
  export default {
    name:'App',
    data() {
      return {
        fname:'John',
        lname:'wick'
      }
    },

    computed:{
      fullname(){
        return this.fname + this.lname
      }
    },

    components: {
      GreetingMessage,
    },
  }
</script>

<style>
  #app{
    text-align: center;
  }
</style>